 <% provide :title, "Login" %>
 <div class="container">
   <div class="row">
     <div class="col-6 col-md-3">
     </div>
     <div class="col-6 col-md-5">
       <div class="card card-body">
         <h3 class="text-center mb-4"><%= t "text_signup" %></h3>
         <fieldset>
           <div class="form-group has-error">
             <label for="exampleInputEmail1"><%= t "text_name" %></label>
             <input class="form-control input-lg" name="name" type="text">
           </div>
           <div class="form-group has-success">
             <label for="exampleInputPassword1"><%= t "text_email" %></label>
             <input class="form-control input-lg" name="email" value="" type="password">
           </div>
           <div class="form-group has-success">
             <label for="exampleInputEmail"><%= t "text_password" %></label>
             <input class="form-control input-lg" name="password" value="" type="password">
           </div>
           <div class="form-group has-success">
             <label for="exampleInputComfirmPassword"><%= t "text_Comfirmpassword" %></label>
             <input class="form-control input-lg" name="comfirmpassword" value="" type="password">
           </div>
           <input class="btn btn-lg btn-primary btn-block" value="<%= t "text_button_account" %>" type="submit">
         </fieldset>
       </div>
     </div>
     <div class="col-6 col-md-3"> </div>
   </div>
 </div>
